@charset "utf-8";
/* CSS Document */

body{background-color:#000;
font-family:Verdana, Geneva, sans-serif;
font-size:14px;
margin:0;
}
#storbox{background:#999;
width:80%;
height:100%;
margin-left:10%;
position:absolute;
}
header{background-color:#FB2304;
width:100%;
height:15%;
float:left;
text-align:center;	
}
nav{background-color:#CCC;
width:80%;
height:30%;
margin-top:0%;
margin-left:9%;
}
article{background-color:#FFF;
width:65%;
height:75%;
float:left;
text-align:center;
font-size:14px
}
aside{background-color:#999;
width:35%;
height:75%;
float:left;
}
footer{background-color:#F93;
width:100%;
height:10%;
clear:left;

overflow:hidden;
}
ul{list-style:none;
background-color:#CCC;	
text-align:center;
padding:0%;
margin:0%;
}
li{line-height:40px;
height:100%;
width:25%;
float:left;
}
figure{float:left;
}

a:link{text-decoration:none;
color:#06F;

}
a:visited{text-decoration:none;
color:#06F;
}
a:active{text-decoration:none;
color:#06F;
font-weight:bold;
}
a:hover{text-decoration:none;
color:#06F;
font-weight:bold;

}





