@charset "utf-8";
/* CSS Document */

body{
	background-color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	margin:0;
	
	}
	
#background{
	width:100%;
	height:100%;
	background-color:#FF0;

	}	

#storbox {
	background-image:url(THISISIT.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	
}

#divisions {
	background-color:#000;
	width:100%;
	height:100%;
	position:absolute;
}

header{
background-color:#999;
height:10%;
width:100%;
margin-bottom:0;
font-size:24px;


}
nav{

}

article#startsida{
	height:484px;
	width:500px;
    margin-left:17%;
	background-color:#C6C;
	margin-top:143px;
	float:left;
	
	}

article#home{
	background-color:rgba(0,0,0,0.75);
	width:700px;
	height:78%;
	margin-left:32%;
	font-family:Georgia, "Times New Roman", Times, serif;
	
}

section{}

aside#startsidaaside{ background-color:#000;
height:500px;
width:500px;
margin-top:140px;
margin-left:10%;
float:left;
}
p#ptillaside{
	color:#FFF;
	font-size:24px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
h1#h1tillaside{
	font-size:36px;
	color:#EBDB1B;}
#utfyllnad{
	width:100%;
	height:14%;
	float:left;

	}
footer{
	clear:both;
	background-color:#000;
height:10%;
width:100%;
margin-top:0px;
overflow:hidden;
color:#FFF;

	}	
#abouttitel{
	text-align:center;
	color:#E2D636;
	font-size:23px;}
#abouttitel2{
	text-align:center;
color:#fff;
font-size:23px;

}	
#abouttitel2:hover{
text-align:center;
color:#E2D636;
font-size:23px;
text-decoration:underline;
cursor:pointer;
;}
	

	
#aboutinfolol{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFF;}
	
#aboutinfolol2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFF;
display:none;}

Img#logo{
	margin-left:30px;
	overflow:hidden;
	float:left;
	margin-top:3px;
	
	}
img#logofooter{float:left;
	
	}
	

	
	#pfooter{
		margin-top:20px;
		margin-right:160px;
		text-align:center;
		font-size:18px;}
		
	#footerkontakt{
		margin-left:100px;
		float:right;
		font-size:14px;
		font-family:Verdana, Geneva, sans-serif;
		}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

li {
    float: left;
	margin-left:180px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 36px 80px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 18px 83px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

h1{
	color:#FFF;
	
	
	}

/*slider*/	
 *{box-sizing:border-box}

.mySlides {display:none;
}


.slideshow-container {
  width: 500px;
  position: relative;
  margin: auto;
  
  
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FF0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



#div1{
	display:none;
	color:#FFF;
	margin-left:8%;
	overflow:hidden;
	font-size:18px;
	}
#div2{
	display:none;
	margin-left:22%;
	color:#FFF;
	overflow:hidden;
	font-size:18px;}
#div3{
	display:none;
	margin-left:36%;
	color:#FFF;
	overflow:hidden;
	font-size:18px;}
#div4{
	display:none;
	margin-left:49%;
	color:#FFF;
	overflow:hidden;
	font-size:18px;}
#div5{
	display:none;
	margin-left:63%;
	color:#FFF;
	overflow:hidden;
	font-size:18px;}
#div6{
	display:none;
	margin-left:76%;
	color:#FFF;
	overflow:hidden;
	font-size:18px;}
#groupmedbilder{
	margin-top:20px;
	margin-left:8%;
	overflow:hidden;
	font-size:18px;}
#kilckapåbilder{
	color:#FF0;
	margin-left:32%;
	font-size:24px;
	overflow:hidden;
	}
#divisions2{
	
		clear:both;
	background-color:#000;
height:10%;
width:100%;
margin-top:225px;
overflow:hidden;
color:#FFF;
	}
	
	
	

#social {
  margin-left: 800px;
  margin-top: 5%;
   position:absolute;
  
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  cursor:pointer;
}

#social:active {
opacity:0;
}

#eposrttext{

	font-size:26px;
	margin-left: 800px;
	color:#FFFF00;
}




#divisions3{
	
clear:both;
background-color:#000;
height:10%;
width:100%;
margin-top:30%;
color:#FFF;
	}

@media screen and (max-width: 980px){

	header{
background-color:#999;
height:10%;
width:100%;
margin-bottom:0;
font-size:24px;
}
	
article#home{
background-color:rgba(0,0,0,0.75);
width:700px;
height:800px;
margin-right:100px;
font-family:Georgia, "Times New Roman", Times, serif;
	
}
	
li {
float: left;
margin-left:0;
}
	
#abouttitel{
text-align:center;
color:#E2D636;
font-size:23px;
}
	
#aboutinfolol{
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#FFF;
}
	
#div1{
	display:none;
	color:#FFF;
	margin-left:6%;
	overflow:hidden;
	font-size:30px;
	}
#div2{
	display:none;
	margin-left:6%;
	color:#FFF;
	overflow:hidden;
	font-size:30px;
}
#div3{
	display:none;
	margin-left:6%;
	color:#FFF;
	overflow:hidden;
	font-size:30px;
}
#div4{
	display:none;
	margin-left:6%;
	color:#FFF;
	overflow:hidden;
	font-size:30px;
}
#div5{
	display:none;
	margin-left:6%;
	color:#FFF;
	overflow:hidden;
	font-size:30px;
}
#div6{
	display:none;
	margin-left:6%;
	color:#FFF;
	overflow:hidden;
	font-size:30px;
}
	
#divisions2{
	
clear:both;
background-color:#000;
height:10%;
width:100%;
margin-top:150px;
overflow:hidden;
color:#FFF;
	}
	
#groupmedbilder{
margin-top:60px;
margin-left:8%;
overflow:hidden;
font-size:18px;
}
	
li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 61px 63px;
text-decoration: none;
}
#kilckapåbilder{
color:#FF0;
margin-left:17%;
font-size:24px;
overflow:hidden;
}
#pfooter{
margin-top:20px;
margin-right:160px;
text-align:center;
font-size:12px;
}

#footerkontakt{
margin-left:100px;
float:right;
font-size:20px;
font-family:Verdana, Geneva, sans-serif;
}

#aboutinfolol{
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#FFF;
	
}
	#abouttitel{
	text-align:center;
	color:#E2D636;
	font-size:10px;
	
}
}

	







